<div class="d-flex flex-row justify-content py-2">
    <div class="mr-auto">
        <a routerLink="/movies">
            <img src="assets/images/logo.jpg" alt="logo" />
        </a>
    </div>
    <div class="d-flex flex-row justify-content">        
        <div routerLinkActive="active" *ngIf="isLoggedIn" class="m-2">
            <a routerLink="/movies">Home</a>
        </div>
        <div routerLinkActive="active" *ngIf="isLoggedIn" class="m-2">
            <a routerLink="movies/my-movies">MyMovies</a>
        </div>
        <div *ngIf="!isLoggedIn">
            <button class="btn btn-dark" (click)="login()">Login</button>
        </div>
        <div *ngIf="isLoggedIn">
            <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div> 
    </div>
</div>
